div.header
			div.wrap
				div.logo
					a(href=("#"))
						img(src="/images/logo.png",title="pinbal")
				div.nav-icon
					a#activator.right_bt(href="#")
						span
				div#box.box
					div.box_content
						div.box_content_center
							div.form_content
								div.menu_box_list
									ul
										li 
											a(href="#")
												span Home		
										li 
											a(href="#")
												span About
										li 
											a(href="#") 
												span Works
										li 
											a(href="#")
												span Clients
								a#boxclose.boxclose 
									span
				div.top-searchbar
					form
						input(type="text")
						input(type="submit",value="")
				div.userinfo
					div.user
						ul
							li 
								a(href="#")  
									img(src="images/user-pic.png",title="user-name")
									span Ipsum	
				div.clear
				div.clear