
doctype html
html
	head
		title day chi la demo | vai lon nhi
		meta('charset="utf-8"')
		meta('name="viewport"',content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="/css/chat.css")
	body
		block content
	script(src="/js/admin/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/app.js")
	

