extend ../layout
block content
	div#page-wrapper
		div.row
			div.col-lg-12
				h1.page-header Forms
		div.row
			div.col-lg-12
				div.panel-heading Update Category #{category.title}
				div.panel-body
					div.row
						div.col-lg-6
							form(role="form",method="POST")
								div.form-group
									label Category Name
									input(class="form-control",placeholder="Nhập tên catogory",name="title",value="#{category.title}")
									input(type="hidden",name="id",value="#{category._id}")
								button(type="submit",class="btn btn-default") Update
								a(href="/admin/list-category",class="btn btn-default",style="margin-left:10px;") Back