extend layout
block content
	div.content
		div.wrap
			div#main
				ul#tiles
					li
						img(src="/images/img1.jpg",width="282",height="118")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img2.jpg",width="282",height="344")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img3.jpg",width="282",height="210")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img4.jpg",width="282",height="385")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img1.jpg",width="282",height="118")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img2.jpg",width="282",height="344")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img3.jpg",width="282",height="210")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img4.jpg",width="282",height="385")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img1.jpg",width="282",height="118")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img2.jpg",width="282",height="344")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img3.jpg",width="282",height="210")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					li
						img(src="/images/img4.jpg",width="282",height="385")
						div.post-info
							div.post-basic-info
								h3 
									a(href="#") Animation films
								span 	
									a(href="#") label | Movies
								p 	Lorem Ipsum is simply dummy text of the printing & typesetting industry.
							div.post-info-rate-share
								div.rateit 
									span
								div.post-share 
									span
								div.clear
					