
doctype html
html
	head
		title day chi la demo | vai lon nhi
		link(rel="stylesheet",href="/css/style.css")
		
		link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")

		link(rel="stylesheet",href="/css/main.css") 
		meta('name="viewport"',content="width=device-width, initial-scale=1")
		script(src="/js/jquery.min.js")
		script(src="/js/jquery.imagesloaded.js")
		script(src="/js/jquery.wookmark.js")
		

	body
		include ./includes/header
		block content
		div.footer
			p Desing by a(href="http://w3layouts.com/") W3layouts
							
	script(src="/js/custom.js")


	